@import "tailwindcss";

/* body{
  overflow-y: hidden;
} */

@layer components{
  .remove-arrow {

    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

  }
}